$base-font: 		"Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$header-font: 		$base-font;
$ms-base:           1em, .875em;
$ms-ratio:          1.618;

// base color scheme
$body-background: 	#f5f5f5;
$color_body: 		#333333;
$color_border:		rgba(0,0,0,0.05);
$color_links:		#cb2027;

// TODO: Need change belor color 
$color_woocommerce: #96588a;
$error: 			#e2401c;
$success: 			#0f834d;
$info: 				#3D9CD2;


// layout sizes
$desktop:			880px;
$handheld:			568px;
$container-width:	1140px;
$max-width: 1230px;
$min-width: 480px;
$responsive-width:	970px;

$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after,

	use-custom: (
		box-sizing: false
	)
);